#about{
	background-color:#ddd;
	padding:20px;
}
#header{
	height:100;
	background-color:lightBlue;
	padding:20px;
}
#login_side_panel{
	border-radius:15px;
	background:#eee;
	padding:20px;
}
input[type=text], input[type=password], select ,#expiry, #inward{
	width:100%;
	padding:12px 20px;
	margin:8px 0;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing:border-box;
}

input[type=submit] {
	width:100%;
	background-color:#3498db;
	color:white;
	padding:14px 20px;
	margin:8px 0;
	border:none;
	border-radius:4px;
	cursor:pointer;
}

input[type=submit]:hover {
	background-color:#2e86c1;
}

div {
	border-radius:2px;
	background-color:#f2f2f2;
	padding:20px;
}
#contacts{
	background-color:#154360;
	color:#fff;
	width:100%;
}
#seperation{
	height:1px;
	background-color:lightBlue;
	padding:0;
}
#productsTable, #changepasswd{
	margin-left:auto;
	margin-right:auto;
}
#itemquantity{
	padding:0px;
	margin:0px;
	width:40%;
}
#addplus{
	width:50%;
	background-color:#3498db;
	color:white;
	padding:0px;
	margin:0px;
	border:none;
	border-radius:4px;
	cursor:pointer;
}
#updatecart{
	width:90%;
	background-color:#3498db;
	color:white;
	padding:5px;
	margin:0px;
	border:none;
	border-radius:4px;
	cursor:pointer;
}
